@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    
}

body {
  
    background-color: #fff;
}

a {
    text-decoration: none;
    display: inline-block;

}


/* navigation bar */

.navbar-container {
    display: flex;
    justify-content: space-around;
    padding: 0 0rem;
    height: 70px;
    align-items: center;
    /* background:#ffffff; */
    color: rgb(234, 6, 6);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    box-shadow: 1px 1px 4px 0 rgb(0 0 0 / 10%), 0 2px 2px 0 rgb(0 0 0 / 20%);
    background-color: #fff;
}
.logo-container a img{
  width: 120px;
}

.navbar-container .logo-container a {
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    color: #2f3043;
    font-weight: 50px;
    font-family: 'kanit', sans-serif;

}

.navbar-container .nav-items {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;


}

.navbar-container .nav-items .nav-link a {
    color: #26273d;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    padding: 10px;
    text-transform: capitalize;
    /* margin-right: 10px; */

}


.navbar-container .nav-items .nav-link::after {
    display: block;
    content: "";
    border-top: 2px solid rgb(140, 73, 254);
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition: transfrom 250ms ease-in-out;

    -webkit-transition: transfrom 250ms ease-in-out;
    -moz-transition: transfrom 250ms ease-in-out;
    -ms-transition: transfrom 250ms ease-in-out;
    -o-transition: transfrom 250ms ease-in-out;
}

.navbar-container .nav-items .nav-link:hover:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);

}

.navbar-container .nav-items .nav-link a:hover {
    filter: brightness(80%);
    -webkit-filter: brightness(80%);
}

/* .navbar-container .nav-items .login-register{
    display: flex;
    flex-direction: row;
    top: 1rem;
} */

.navbar-container .nav-items .login-register .button {
    color: white;
    border: 2px solid rgb(116, 36, 255);
    padding: 5px 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-transform: uppercase;
    transition: all ease-in 0.3s;
    -webkit-transition: all ease-in 0.3s;
    -moz-transition: all ease-in 0.3s;
    -ms-transition: all ease-in 0.3s;
    -o-transition: all ease-in0.3s;
    background-color: rgb(88, 88, 186);



}
     /* close navigation bar */